**/.git/
node_modules/
.vscode/
.*.swp
.~lock.*
*/.gitignore
/db.version

API/dist/
API/**/config.js
API/notes.txt

Frontend/cache/
Frontend/nginx/
Frontend/src/img/*/**
!Frontend/src/img/*.png
!Frontend/src/img/*.jpg
!Frontend/src/img/item/**
Frontend/src/js/config.js

WikiParser/__pycache__/
WikiParser/config/database.ini
WikiParser/data/cache/*