/* Others */
.tag {
  @apply rounded;
  @apply text-xs;
  @apply py-1;
  @apply px-2;
  @apply whitespace-nowrap;
}

/* Buttons */
.btn {
  @apply font-semibold;
  @apply py-2;
  @apply px-4;
  @apply rounded;
}
.btn:focus {
  @apply outline-none;
}

.btn:disabled {
  @apply cursor-not-allowed;
  filter: grayscale(70%);
}

.btn-blue {
  @apply text-white;
  @apply bg-blue-500;
}
.btn-blue:hover {
  @apply bg-blue-600;
}
.btn-blue:disabled {
  @apply bg-blue-500;
}

.btn-white {
  @apply text-black;
  @apply bg-gray-300;
}
.btn-white:hover {
  @apply bg-gray-400;
}
.btn-white:disabled {
  @apply bg-gray-300;
}

.btn-red {
  @apply text-white;
  @apply bg-red-700;
}
.btn-red:hover {
  @apply bg-red-800;
}
.btn-red:disabled {
  @apply bg-red-700;
}

.btn-sm {
  @apply text-sm;
  @apply font-normal;
  @apply px-2;
  @apply py-1;
}

.btn-group .btn {
  @apply border-l;
  @apply border-transparent;
}
.btn-group .btn:first-of-type {
  @apply rounded-r-none;
}
.btn-group .btn:last-of-type {
  @apply rounded-l-none;
}
.btn-group .btn:not(:first-of-type):not(:last-of-type) {
  @apply rounded-none;
}
.btn-group .btn-white + .btn-white {
  @apply border-tertiary;
}
.btn-group .btn-blue + .btn-blue {
  @apply border-primary;
}

/* Text Input */
.input {
  @apply appearance-none;
  @apply rounded;
  @apply p-1;
  @apply my-1;
  @apply text-black;
  @apply bg-white;
  @apply border;
  @apply border-tertiary;
}
.input:hover {
  @apply border-primary;
}
.input:focus {
  @apply outline-none;
  @apply border-primary;
  box-shadow: 0 0 0 3px var(--color-shadow-primary);
}

.input-sm {
  @apply py-0;
}

/* Select */
.select {
  @apply appearance-none;
  @apply rounded;
  @apply text-black;
  @apply bg-white;
  @apply border;
  @apply border-tertiary;
  @apply p-1;
  @apply pr-8;
}
.select:hover {
  @apply border-primary;
}
.select:focus {
  @apply outline-none;
  @apply border-primary;
  box-shadow: 0 0 0 3px var(--color-shadow-primary);
}

/* Tooltips */
.tooltip-parent {
  @apply relative;
}

.tooltip {
  @apply absolute;
  @apply left-0;
  @apply whitespace-nowrap;
  @apply text-sm;
  @apply bg-tertiary;
  @apply rounded-lg;
  @apply px-2;
  @apply py-1;
  @apply z-10;
  bottom: 100%;
}

.tooltip-parent .tooltip {
  @apply hidden;  
}
.tooltip-parent:hover .tooltip {
  @apply block;
}
.tooltip-parent:hover .tooltip:hover {
  @apply hidden;
}

/* Table */
.table {
  @apply w-full;
  @apply table-auto;
}
.table > thead {
  @apply text-left;
  @apply border-b-2;
  @apply border-primary;
}
.table > tbody {
  @apply select-none;
}
.table > tbody > tr {
  @apply h-8;
}
.table > tbody > tr:not(:last-child) {
  @apply border-b;
  @apply border-secondary;
}

.table-striped > tbody > tr:nth-child(even) {
  @apply bg-table-stripe;
}
.table > tbody > tr:hover {
  @apply bg-secondary;
}

.table-px th {
  @apply px-3;
}
.table-px td {
  @apply px-3;
}